
.card{
    width: 800px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.carousel{
    margin-top: 25px;
    margin-right: 150px;
    margin-left: 150px;
}

.form-email{
    width: 800px;
    margin-left: auto;
    margin-right: auto; }